* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: #F6EDEF;
}

img {
  display: block; 
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}


.container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  font-size: 18px;
  background-color: #D01D26;
  display: block;
  max-width: 140px;
  text-align: center;
  color: #F6EDEF;
  padding: 8px;
  letter-spacing: 1px;
  border-radius: 8px;
  margin-top: 32px;
  border-bottom: 3px solid #F6EDEF;
  border-bottom: 3px solid #F6EDEF;
  transition: all .3s;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 10px rgba(208, 29, 38, 0.16), 0px 8.13971px 10.25px rgba(208, 29, 38, 0.11), 0px 3.38082px 4.25733px rgba(208, 29, 38, 0.07), 0px 1.22278px 1.53979px rgba(208, 29, 38, 0.47);
}


/*  NAVIGATION  */

.top-page {
  background-color: #C56170;
  padding: 4px 0;
}

.top-page .container {
  display: flex;
}

.top-page p {
  font-size: 12px;
  margin-right: 16px;
}

.logo {
  width: 100px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px
}

.navigation-list {
  display: flex;
}

.navigation-list li a{
  margin: 0 8px;
  padding: 8px;
  color: #5A3C24;
  font-weight: 700;
  transition: transform .3s;
  border-bottom: 3px solid transparent;
  border-radius: 8px;
}

.navigation-list li a:hover {
  color: #C56170;
  border-bottom: 3px solid #C56170;
  box-shadow: 0px 10px 10px rgba(246, 139, 38, 0.16), 0px 8.13971px 10.25px rgba(246, 139, 155, 0.11), 0px 3.38082px 4.25733px rgba(246, 139, 155, 0.07), 0px 1.22278px 1.53979px rgba(246, 139, 155, 0.47);
  transform: scale(1.1);
}

/* BANNER */

.banner {
  background: url('../images/banner.jpg') center center no-repeat;
  background-size: cover;
  height: 500px;
}

.banner .container {
  height: 100%;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.banner-title {
  font-size: 50px;
  max-width: 720px;
  color: #F6EDEF;
}